body{
    font-family: sans-serif;
}

#list-of-messages{
    list-style-type: none;
    margin: 1em;
    padding: 0;
}
#list-of-messages li{
    margin: 0.5em;
    padding: 0.5em;
    background-color: rgba(200,200,200,0.9);
}
#list-of-messages li section{
    padding: 0.5em;
}


textarea{
    height: 5em;
    width: 80%;
    resize: none;
    margin: 2% 3%;
    display: block;
}
